<div class="bs-glyphicons crop" [style.width.px]="starWidth">
        <div style="width:150px">
     <span class="bs-glyphicons-list font">        
        <span class="glyphicon glyphicon-star star-color"></span>
        <span class="glyphicon glyphicon-star star-color"></span>
        <span class="glyphicon glyphicon-star star-color"></span>
        <span class="glyphicon glyphicon-star star-color"></span>
        <span class="glyphicon glyphicon-star star-color"></span>
      </span>
      </div>
</div>

